# Chainlink Data Streams API Credentials
# Get credentials from: https://docs.chain.link/data-streams
DS_API_KEY=
DS_API_SECRET=

# Arbitrum Sepolia RPC URL
ARBITRUM_SEPOLIA_RPC_URL=https://sepolia-rollup.arbitrum.io/rpc
